<% provide(:title, 'Acerca De') %>
<h1>Acerca De</h1>
<p>
  UAC Helpdesk - Mesa de Ayuda Informática de la <a href="http://www.uac.edu.co/">Universidad Autónoma del Caribe</a>
  es un proyecto de código abierto capaz de brindar apoyo logístico a la toma de decisiones al área de soporte técnico de esta institución. Desarrollado totalmente con el lenguaje y framework: <a href="http://rubyonrails.org/">Ruby on Rails</a>, siguiendo el éstandar MVC (Modelo, Vista, Controlador) como resultado de un proyecto de grado e investigación realizado en el primer semestre del año 2013.
  <br>
  <br>
  <b>Integrantes:</b>
  <ul>
   <li><i>José Carmona</i></li>
   <li><i>Miguel Madariaga</i></li>
 </ul>
 <strong>Facultad de Ingeniería - Programa de Ingeniería de Sistemas</strong>
</p>
