<% provide(:title, 'Contáctanos') %>
<h1>Contáctanos</h1>
<p>
	Si deseas contactar al equipo de soporte técnico de tu Universidad, puedes encontrarnos en el Bloque Administrativo, o por medio de estos teléfonos de contacto en caso de algun caso crítico.
	<ul>
		<li>300 0303</li>
		<li>300 0303</li>
		<li>300 0303</li>
	</ul>
	<strong>Déjanos tu mensaje o sugerencia!</strong>
	FORMULARIO DE CONTACTO
</p>
