<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
	Puedes leer un listado de <a href="http://www.uac.edu.co/preguntas-frecuentes.html"> preguntas frecuentes</a>
	Para aprender un poco sobre el lenguaje Ruby on Rails te recomendamos
	<a href="http://railstutorial.org">este excelente libro</a>.
</p>
