<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contraseña restablecida UAC-Helpdesk.com, <%= @user.name %>:</h1>
    <p>
      Hemos recibido una solicitud de restablecimiento de contraseña en uac-helpdesk.com. <br/>

      Tu nombre de usuario es: <%= @user.email %>. <br/>
      Tu nueva contraseña es: <b><%= @user.password %></b> <br/>

    </p>
    <p>
      Para ingresar al sitio, solo haz click a este <%= link_to "link", root_url %>.
    </p>
    <p>Gracias por contactarnos y que tengas un excelente día!</p>
  </body>
</html>