<% provide(:title, 'Todos los usuarios') %>
<h1>Todos los usuarios</h1>

<table id="users" class="table table-hover table-condensed">
	<thead>
		<th>Nombre</th>
		<th>Departamento</th>
		<th>Rol</th>
		<% if current_user.admin? || current_user.tech? %>
		<th>Acciones</th>
		<% end %>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>