<% provide(:title, 'Registro') %>
<h1>Nuevo Usuario</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user, class: "form-horizontal") do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', :f => f %>
		<div class="actions">
			<%= f.submit "Crear", class: "btn btn-large btn-primary" %>
		</div>
		<% end %>
	</div>
</div>