<% provide(:title, "Restablecer contraseña") %>
<h1> Restablecer contraseña </h1>

<div class="row">

	<p>Por favor ingresa a continuación, la cuenta de correo electrónico registrada con tu usuario en nuestro portal. Enviaremos tu nueva contraseña a este correo. Te recomendamos revisar tu carpeta de Spam </p>

	<div class="span6 offset3">
		<%= form_tag reset_password_path do %>

		<div class="control-group">
			<%= text_field_tag "email", nil, placeholder: "Correo Electronico", class: "control-label" %>
			<%= submit_tag "Restablecer!", class: "btn btn-large btn-primary" %>
			<% end %>

		</div>
	</div>
</div>

