<% provide(:title, @user.name) %>
<div class ="row">
	<aside class="span4">
		<section>
			<h1>
				<div class ="gravatar">
					<%= gravatar_tag @user.email, size: 40 %>
				</div>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>