<p>Tickets por departamento</p>
<table>
	<thead>
		<th>Departamento</th>
		<th>#</th>
	</thead>
	<tbody>
		<%= render partial: 'shared/department', collection: @departments %>
	</tbody>
</table>