<h1>
	<div class ="gravatar">
		<%= gravatar_tag @user.email, size: 90 %>
	</div>
	<%= @user.name %>
</h1>
<span><small><%= @user.role %></small></span>
<span><small><%= @user.department.name %></small></span>