
<h1>Hola <%= @ticket.user.name %>!!!</h1>
<p>Hemos recibido satisfactoriamente tu solicitud #<%= @ticket.id %>, la cual será resuelta oportunamente.</p>
<p><i>Gracias por utilizar <strong><%= link_to "UAC Helpdesk", root_url %></strong></i></p>  