<% provide(:title, 'Encuestas') %>
<h1>Encuestas de Satisfacción</h1>

<table class="table table-hover table-condensed">
	<thead>
		<th><strong>#</strong></th>
		<th><strong>Comentarios</strong></th>
		<th><strong>Técnico</strong></th>
		<th><strong>Calificación</strong></th>
		<th><strong>Acciones</strong></th>
	</thead>
	<tbody>
		<%= render @surveys %>
	</tbody>
</table>

<%= will_paginate %>