
<footer class="footer">
  <small>
    <a href="http://www.uac.edu.co/">Universidad Autónoma del Caribe</a>
    <br><i>Formando líderes para el mundo!</i>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca De",   about_path %></li>
      <li><%= link_to "Contáctanos", contact_us_path %></li>
      <li><a href="http://www.uac.edu.co/ingenieria-de-sistemas.html">Facultad de Ingeniería</a></li>
    </ul>
  </nav>
</footer>